= link_to("<i class='fa fa-arrow-right'></i> XML".html_safe, export_org_path(export_link, format: :xml), title: t('.export_xml'), class: 'btn btn-primary btn-sm') if can? :read, export_link
= link_to("<i class='fa fa-arrow-right'></i> Excel".html_safe, export_org_path(export_link, format: :xlsx), title: t('.export_excel'), class: 'btn btn-primary btn-sm') if can? :read, export_link