development:
  secret_key_base: d6d919ad3d61b8f73b7aeb04891236c6ab8adf961c7953ec42820c0256c2eccd5db80f076a0df12515ce76e8136b5dab3b76a45eb558b441aa54295745a8eca6
  database:
    :host: localhost
    :username: spaceman
    :password: spaceman

test:
  secret_key_base: c6d97d31c71315308119361e48901a1fb7d8f0d9df528d2da3d6ac516fc684c818f662ed37172ba89c012e482cd4eed815fa568f83daf87f4d8906bb8acfc9c9
  database:
    :host: localhost
    :username: spaceman
    :password: spaceman

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  database:
    :host: localhost
    :username: user
    :password: psw
