.entity-allocations{ id: "allocations-#{inc_center_index.to_s}", 'data-entity': 'floors', 'data-entity-id': @floor.id, 'data-floor-id': @floor.id, 'nxt-load': 'b' }
  %div#a
    = render partial: 'floors/show_allocations'
  %div#b
